:root{
    --header-height: 264px;
    --primary-color: #e6c88f;
    --default-grid-unit: 12px;
}

@font-face{
    font-family: "chopin";
    src: url("../fonts/ChopinScript.ttf") format('truetype');
}

@font-face{
    font-family: "open-sans";
    src: url("../fonts/OPENSANS-REGULAR.TTF") format('truetype');
}

@font-face{
    font-family: "open-sans-light";
    src: url("../fonts/OPENSANS-LIGHT.TTF") format('truetype');
}

*{
    margin:0;
    padding: 0;
    font-family: "open-sans";
    box-sizing: border-box;
    transition: all .25s ease;
}

.characterCreator{
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: var(--default-grid-unit);
}

header{
    height: calc(var(--default-grid-unit) * 11);
    display: flex;
    justify-content: center;
    align-items: center;
}

header div{
    font-family: "chopin";
    font-size: calc(var(--default-grid-unit) * 2.5);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b6943+0,517345+8,629e4c+27,61b747+35,65bf47+41,65bf47+49,57804a+51,0a2c00+52,0a2c00+100&0.5+0,0.5+100 */
background: -moz-linear-gradient(top,  rgba(75,105,67,0.5) 0%, rgba(81,115,69,0.5) 8%, rgba(98,158,76,0.5) 27%, rgba(97,183,71,0.5) 35%, rgba(101,191,71,0.5) 41%, rgba(101,191,71,0.5) 49%, rgba(87,128,74,0.5) 51%, rgba(10,44,0,0.5) 52%, rgba(10,44,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(75,105,67,0.5) 0%,rgba(81,115,69,0.5) 8%,rgba(98,158,76,0.5) 27%,rgba(97,183,71,0.5) 35%,rgba(101,191,71,0.5) 41%,rgba(101,191,71,0.5) 49%,rgba(87,128,74,0.5) 51%,rgba(10,44,0,0.5) 52%,rgba(10,44,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(75,105,67,0.5) 0%,rgba(81,115,69,0.5) 8%,rgba(98,158,76,0.5) 27%,rgba(97,183,71,0.5) 35%,rgba(101,191,71,0.5) 41%,rgba(101,191,71,0.5) 49%,rgba(87,128,74,0.5) 51%,rgba(10,44,0,0.5) 52%,rgba(10,44,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#804b6943', endColorstr='#800a2c00',GradientType=0 ); /* IE6-9 */

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header div span{
    font-family: "chopin";
    font-size: calc(var(--default-grid-unit) * 3.75);
}

main{
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "open-sans-light";
    font-weight:400;
    color:white;
    margin-bottom:var(--default-grid-unit);
    font-size: calc(var(--default-grid-unit) * 1.5);
}
h2{
    font-family: 'chopin';
    font-size: calc(var(--default-grid-unit) * 1.75);
    font-weight: 400;
    color:white;
    text-align: left;
    padding: var(--default-grid-unit) var(--default-grid-unit) 0;
    background-color: rgba(0,0,0,.5);
}

.login, .signUp , .manuallyCreate, .menu{
    height: fit-content;
    max-width: 100vw;
    margin-bottom: calc(var(--default-grid-unit) * 2);
    padding: var(--default-grid-unit) calc(var(--default-grid-unit) * 2);
    background-color: rgba(230,200,143,.5);
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
}

.login p, .viewCharacter p{
    font-size: var(--default-grid-unit);
    color: white;
    text-align: center;
    margin-bottom: var(--default-grid-unit);
} 
.viewCharacter{
    width: 100%;
}
.viewCharacter p{
    text-align:left;
    background-color: rgba(0,0,0,.5);
}

.login p a {
    text-decoration: none;
    color: #ffea00;
}

.sheet{
    display:flex;
    position: relative;
    margin-bottom: var(--default-grid-unit);
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
    flex-direction: column;
}

.charImage{
    display:flex;
    background-image: url(../images/assassin-male-01.jpg);
    background-position: center 0px;
    background-size: cover;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 100px);
    flex-wrap: wrap;
}

.viewCharacter p.genderClass{
    font-size: var(--default-grid-unit);
    margin-bottom: calc(var(--default-grid-unit) * 3);
    padding: 0 var(--default-grid-unit) var(--default-grid-unit);
}

.charData{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.charData p{
    font-size: var(--default-grid-unit);
    padding: var(--default-grid-unit);
    margin-bottom: 0;
}

.charControl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

input[name=username]{
    grid-column-start: span 1;
}

input[type=file]{
    background-color: #ffffff;
}

input, select{
    padding:var(--default-grid-unit);
    font-size: var(--default-grid-unit);
    color:var(--primary-color);
    text-transform: capitalize;
    border: 2px solid var(--primary-color);
    box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
    margin-bottom: calc(var(--default-grid-unit) * 2);
}

form button, .saveButton{
    margin-bottom: calc(var(--default-grid-unit) * 2);
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4b6943+0,517345+8,629e4c+27,61b747+35,65bf47+41,65bf47+49,57804a+51,0a2c00+52,0a2c00+100 */
background: rgb(75,105,67); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(75,105,67,1) 0%, rgba(81,115,69,1) 8%, rgba(98,158,76,1) 27%, rgba(97,183,71,1) 35%, rgba(101,191,71,1) 41%, rgba(101,191,71,1) 49%, rgba(87,128,74,1) 51%, rgba(10,44,0,1) 52%, rgba(10,44,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(75,105,67,1) 0%,rgba(81,115,69,1) 8%,rgba(98,158,76,1) 27%,rgba(97,183,71,1) 35%,rgba(101,191,71,1) 41%,rgba(101,191,71,1) 49%,rgba(87,128,74,1) 51%,rgba(10,44,0,1) 52%,rgba(10,44,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(75,105,67,1) 0%,rgba(81,115,69,1) 8%,rgba(98,158,76,1) 27%,rgba(97,183,71,1) 35%,rgba(101,191,71,1) 41%,rgba(101,191,71,1) 49%,rgba(87,128,74,1) 51%,rgba(10,44,0,1) 52%,rgba(10,44,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6943', endColorstr='#0a2c00',GradientType=0 ); /* IE6-9 */

opacity:.75;

border: 2px solid var(--primary-color);
box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
color:white;
width:100%;
}

.editButton{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#436169+0,456b73+8,4c909e+27,47a0b7+35,47a9bf+41,47a9bf+49,4a7580+51,00232c+52,00232c+100 */
background: rgb(67,97,105); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(67,97,105,1) 0%, rgba(69,107,115,1) 8%, rgba(76,144,158,1) 27%, rgba(71,160,183,1) 35%, rgba(71,169,191,1) 41%, rgba(71,169,191,1) 49%, rgba(74,117,128,1) 51%, rgba(0,35,44,1) 52%, rgba(0,35,44,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(67,97,105,1) 0%,rgba(69,107,115,1) 8%,rgba(76,144,158,1) 27%,rgba(71,160,183,1) 35%,rgba(71,169,191,1) 41%,rgba(71,169,191,1) 49%,rgba(74,117,128,1) 51%,rgba(0,35,44,1) 52%,rgba(0,35,44,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(67,97,105,1) 0%,rgba(69,107,115,1) 8%,rgba(76,144,158,1) 27%,rgba(71,160,183,1) 35%,rgba(71,169,191,1) 41%,rgba(71,169,191,1) 49%,rgba(74,117,128,1) 51%,rgba(0,35,44,1) 52%,rgba(0,35,44,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#436169', endColorstr='#00232c',GradientType=0 ); /* IE6-9 */

opacity:.75;

border: 2px solid var(--primary-color);
box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
color:white;
width:100%;
}

.charControl a *{
    cursor: pointer;
    margin-bottom: 0;
}

form button:hover, .saveButton:hover, .editButton:hover, .backButton:hover{
    opacity:1;
}

button{
    padding: var(--default-grid-unit);
    font-size: var(--default-grid-unit);
    cursor: pointer;
}

button.backButton{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87555b+0,945a63+8,bb717e+27,cc7a85+35,d27e89+41,d27e89+49,a3616a+51,380007+52,380007+100 */
background: rgb(135,85,91); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(135,85,91,1) 0%, rgba(148,90,99,1) 8%, rgba(187,113,126,1) 27%, rgba(204,122,133,1) 35%, rgba(210,126,137,1) 41%, rgba(210,126,137,1) 49%, rgba(163,97,106,1) 51%, rgba(56,0,7,1) 52%, rgba(56,0,7,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(135,85,91,1) 0%,rgba(148,90,99,1) 8%,rgba(187,113,126,1) 27%,rgba(204,122,133,1) 35%,rgba(210,126,137,1) 41%,rgba(210,126,137,1) 49%,rgba(163,97,106,1) 51%,rgba(56,0,7,1) 52%,rgba(56,0,7,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(135,85,91,1) 0%,rgba(148,90,99,1) 8%,rgba(187,113,126,1) 27%,rgba(204,122,133,1) 35%,rgba(210,126,137,1) 41%,rgba(210,126,137,1) 49%,rgba(163,97,106,1) 51%,rgba(56,0,7,1) 52%,rgba(56,0,7,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87555b', endColorstr='#380007',GradientType=0 ); /* IE6-9 */

opacity:.75;

border: 2px solid var(--primary-color);
box-shadow: 5px 5px 16px 0 rgba(0,0,0,.3);
color:white;
width:100%;
}

button.backButton:hover{
    opacity:1;
}
::placeholder{
    color:var(--primary-color);
    opacity: 1;
}

:-ms-input-placeholder{
    color:var(--primary-color);
}

::-ms-input-placeholder{
    color:var(--primary-color);
}

.background-container{
    background-color: var(--primary-color);
}

.papyrus{
    opacity: .4;
    background-image: url(../images/papyrus.jpg);
    background-position: center;
    background-size: cover;
}

.gradientWhite01{
    background: linear-gradient(to right, rgba(255,255,255,.4), transparent)
}

.background-container, .papyrus, .gradientWhite01{
    position:absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
/*
.bgSet01{

}
*/
.char01{
    background-image: url(../images/paladin-male-01.jpg);
    position: absolute;
    left: -10vw;
    top: 0;
    bottom: 0;
    width: 66vw;
    background-position: center;
    background-size: cover;
    opacity: 0;
    mask-image: linear-gradient(to right, black 50%, transparent);
}

.char02{
    background-image: url(../images/assassin-male-01.jpg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center 0px;
    background-size: cover;
    opacity: .25;
    mask-image: linear-gradient(to right, transparent 0%, black 50%, transparent);
}

.char03{
    background-image: url(../images/rouge-female-01.jpg);
    position: absolute;
    right: -10vw;
    top: 0;
    bottom: 0;
    width: 50vw;
    background-position: center top;
    background-size: cover;
    opacity: 0;
    mask-image: linear-gradient(to left, black 50%, transparent);
    
}
/*
.bgSet02{

}

.desert{

}
*/
.menu{
    text-align: center;
}

.menuItem a, .menu button{
    display: inline-block;
    font-size: calc(var(--default-grid-unit) * 2);
    text-decoration: none;
    opacity:1;
    color:white;
    padding: var(--default-grid-unit);
    background-color: transparent;
    border:none;
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
}
.menuItem.disabled{
    font-size: calc(var(--default-grid-unit) * 1.5);
    color:rgb(202, 202, 202);
    padding: var(--default-grid-unit);
    text-shadow: 1px 1px 1px rgba(0,0,0,.75);
    cursor: default;
}

.menuItem a:hover, .menu button:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 410px){
    :root{
        --default-grid-unit: 12px;
    }
    header div{
        font-size: calc(var(--default-grid-unit) * 4);
    }
    
    header div span{
        font-size: calc(var(--default-grid-unit) * 6);
    }
}

@media screen and (min-width: 600px){
    :root{
        --default-grid-unit: 16px;
    }
    form{
        grid-template-rows: repeat(2, 1fr);
    }
    input[name=username]{
        grid-column-start: span 2;
    }

    input[name=password]{
        margin-right: var(--default-grid-unit);
    }
    .menuItem a, .menu button{
        font-size: calc(var(--default-grid-unit) * 1.5);
    }
}

@media screen and (min-width: 810px){
    :root{
        --default-grid-unit: 24px;
    }
}

@media screen and (min-width: 1000px){
    .char01, .char03{
        opacity: .25;
    }
}